.invalid-feedback-p {
   
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

@media screen and (min-width: 600px) {
    .onmobile {
      display: none;
    }
  }

  .results {

        display: flex;
        position: absolute;
        margin-top: 5px;
        width: 70%;
        right: 10%;
        left: 15%;
        overflow: hidden;
        max-height: 500px;
        background-color: #269a9e;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
  }
