.footer-icons ul li {
    display: inline-block;
  }
  
  .footer-icons ul li a {
    border: 1px solid #444;
    color: #444;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
  }
  .footer-icons ul li a i {
    line-height: 0;
  }
  
  .flicker-img > a {
    float: left;
    padding: 1px;
    width: 33.33%;
  }
  
  .footer-icons {
    margin-top: 30px;
  }